/*Element Selectors*/
ul{
    list-style-type:none;
    display:block;
    /*text-align:center;*/
    /*margin:9px;*/
    /*padding:17px;*/
    overflow:hidden;
    /*position:fixed;*/
    /*width:100%;*/
}

li{
    display:inline;
    text-align:center;
}

img{
    max-width:100%;
    height:auto;
}

/*ID's*/
#opening-message{
    text-align:center;
    color:white;
    background-color:green;
    margin:-16px;
    padding:20px;

    
}

/*Classes*/
.page-body{
    margin:0;
    border:0;
}

.menu{
    display:inline;
}

.promo-text{
    text-align:center;
    padding:50px;
}

.promo-text2{
    text-align:center;
    padding:50px;
    background-color:gray;
}

.promo-text3{
    text-align:center;
    padding:50px;
}

.promo-text4{
    text-align:center;
    padding:40px;
}

.promo-text5{
    text-align:center;
    padding:70px;
}

.promo-text6{
    text-align:center;
    padding:50px;
}

.float-left{
    float:left;
}

.float-center{
    float:center;
}

.float-right{
    float:right;
}

.footer-section{
    color:white;
    background-color:green;
    margin-top:-9px;
    margin-bottom:-9px;
    padding:10px;
    border:0px;
    text-align:center;
}

.footer-section-alt{
    color:white;
    background-color:green;
    margin-top:8px;
    margin-bottom:10px;
    padding:30px;
    border:0px;
}

.button{
    background-color: green;
    /* border:none; */
    border-radius:20px;
    color:white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    cursor:pointer;
}

.button-alt{
    background-color:white;
    color:green;
}

.sticky{
    position:fixed;
}

.align-left{
    text-align:left;
}

.align-right{
    text-align:right;
}

.large-font{
    font-size:25px;
}