/*COLORS
Chocolate - #D2691E
BurleyWood - #DEB887
Ivory - #FFFFF0
Saddlebrown - #8B4513



/** Global Styles 
--------------------------- **/

html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}


body{
    background-color:#FFFAF0;
    margin:0;               /*Convention*/
    padding:0;              /*Convention*/
}

li{
    list-style-type: none;
}


/* --- MAIN NAVIGATION MENU
-------------------------------*****/
.header{
    position:sticky;
}

header a{
    color:#D2691E;
    text-decoration:none;
}

header a:hover{
    color:#8B4513;
}

header img{
    position:relative;
    left:195px;
}


.opening-message{
    background: #D2691E;
    color:white;
    padding:9px 0px;
    text-align:center;
}

.border{
    border:1px solid blue;
}

.flex-container-nav{
    position:absolute;
    left:320px;
    top:70px;
    width:215px;
    display:flex;
    border: 1px solid midnightblue;
}

.flex-item-nav{
    box-sizing:border-box;
    padding:7px;
    flex:1 1 100px;
}

.flex-container-nav span{
    padding:5px 7px;
}

.flex-container-nav-main{
    position:absolute;
    top:90px;
    left:290px;
    width:660px;
    display:flex;
    flex-wrap:nowrap;
    border: 1px solid midnightblue;

}

.flex-container-nav-main-item{
    box-sizing:border-box;
    padding:10px;
    flex:1 1 100px;
    border: 1px solid pink;
}

.vert-nav{
    width:180px;
    position:absolute;
    left:910px;
    top:48px;
}

.btn{
    text-align:center;
    font-weight:bold;
    margin:7px;
    padding:6px;
    border:solid 2px white;
    background:white;        /*Should eventually be white*/
    border-radius:5px;
    
}

.btn-alt{
    text-align:center;
    margin:7px;
    padding:6px;
    background-color:#D2691E;
    border-radius:5px;
}

.btn-search{
    text-align:center;
    background-color:#D2691E;
    color:white;
    margin:0;
}

.btn-alt a{
    color:white;
}

.btn-alt a:hover{
    color:white;
}

nav span{
    font-size:11px;
}



/* --- PROMOTIONS 
---------------------------*****/
.promo{
    color:#D2691E;                      /*Replace with dark brown*/
}

.promo button{
    color:white;
    background:#D2691E;
}

.promo a{
    text-decoration:none;
    color:white;
    background:#D2691E;
    border-radius:10px;
    padding:10px;
    margin:8px 0px;
}

.promo a:hover{
    background:pink;                /*Change to dark orange*/
}

.promo .main{
    border:solid 1px pink;
    color:white;
    width:280px;
    position:absolute;
    left:40px;
    bottom:140px;
    text-align:left;
}

.promo .main h2{
    font-size:30px;
}

.promo .main p{
    font-size:20px;
}

.flex-container-promo{
    display:flex;
    margin:0px;
}

.flex-item-promo{
    box-sizing:border-box;
    border:solid 1px green;
    flex:1 1 100px;
}

.flex-container-promo img{
    height:217px;
    width:350px;
}

.flex-container-promo aside{
    padding-left:7px;
}




/* --- FOOTER MENUS
-------------------- *****/
footer a{
    color:#D2691E;
    text-decoration:none;
}

footer a:hover{
    color:black;
}

footer p{
    text-align:left;
}

.flex-container-footer{
    position:relative;
    left:296px;
    width:800px;
    display:flex;
}

.flex-item-footer{
    box-sizing:border-box;
    flex:1 1 100px;
}



.flex-item-footer nav{
    position:relative;
    right:40px;
}





/* ---- ADDITIONAL INFO 
----------------------------*/
.flex-container-footer-2{
    position:relative;
    left:350px;
    display:flex;
    width:700px;
    margin:0;
}

.flex-item-footer-2{
    box-sizing:border-box;
    flex:1 1 100px;
}

.flex-container-footer-2 a{
    text-decoration:none;
    color:#D2691E
}

.flex-container-footer-2 a:hover{
    color:black;
}
